<div id="<%= dom_id clocked_in %>">
  <p>
    <strong>Start date:</strong>
    <%= clocked_in.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= clocked_in.end_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= clocked_in.user_id %>
  </p>

</div>
