<h1>Editing clocked in</h1>

<%= render "form", clocked_in: @clocked_in %>

<br>

<div>
  <%= link_to "Show this clocked in", @clocked_in %> |
  <%= link_to "Back to clocked ins", clocked_ins_path %>
</div>
